/* declarando variaveis das cores e do rem, que seram utilizados em todo css*/
html {
  --red: #e50914;
  --black: #141414;

  font-size: 62.5%; /* define o rem com tamanho de 10px*/
}

/*
 resetando a margin e o padding e definindo ue o conteudo nao saia sobre a borda 
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  height: 100vh;
  width: 100vw;
  background: var(--black);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  display: block;
  width: 90vw;
  background-position: center;
  position: absolute;
  /* z-index: 2; */
}

header .logo {
  color: var(--red);
  font-size: 4rem;
  font-family: "Bebas neue";
}

header nav a {
  text-decoration: none;
  color: #aaa;
  margin-right: 1rem;
  filter: 0.3s;
}

header nav a:hover {
  /* color: aqua; */
  filter: brightness(1.5);
}

header .conteiner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.main-movie {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.603) 20%,
      transparent
    ),
    url("/img/main-img.jpg");
  width: 100vw;
  height: 45rem;
  padding-top: 15rem;
  background-size: cover;
  /* background-position: center; */
}
.main-movie .conteiner > h3,
p {
  color: rgb(255, 255, 255);
}
